@model PagedList.IPagedList<sincDelivery.BDO.Korisnik.KorisnikBDO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Panel vozaca";
}

<div id="wrapper">
    <!-- Navigation -->

    <div id="page-wrapper">

        <div class="text-center">
            <h2>Pregled vozaca</h2>
        </div>

        <div>
            @Html.ActionLink("Dodaj novog vozaca", "DodajVozaca", "Account")

        </div>
        <div class="row">

            <div class="col-md-2 col-xs-12">
            </div>


            <div class="col-md-8 col-xs-12">


                <table class="table table-striped">
                    <tr>
                        <th>
                            Ime 
                        </th>
                        <th>
                            Prezime
                        </th>
                        <th>
                            Telefon
                        </th>
                      
                        <th>
                            Spol
                        </th>
                        <th>
                            Akcija
                        </th>
                    </tr>

                    @foreach (var x in Model)
            {
                        <tr>
                            <td>
                                @x.Ime
                            </td>
                            <td>
                                @x.Prezime
                            </td>
                            <td>
                                @x.Telefon
                            </td>
                          
                            <td>
                                @x.Spol
                            </td>

                            <td>
                                <a href="javascript:obrisi(@x.KorisnikID)" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="col-md-2 col-xs-12">
            </div>
        </div>
    </div>
</div>



<script>


            function obrisi(id) {

                if (confirm('Da li ste sigurni da želite obrisati vozaca')) {

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ObrisiVozaca", "Vozac")',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        traditional: true,
                        data: { korisnikID: id },
                        success: function (data) {

                            alert("Uspjesno ste obrisali vozaca");
                            location.reload();

                        },
                        error: function (data) {

                        }
                    })
                } else {
                    // Do nothing!
                }

            }
</script>
